<template>
  <div class="home">
    <Header :class="{ unfixed: preview } "/>

    <Presentation/>
    <ProjectContainer @previewIsOpen="previewIsOpen" @previewIsClose="previewIsClose"/>
    <Information/>

    <Footer/>

  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import Presentation from '@/components/Presentation.vue';
import ProjectContainer from '@/components/ProjectContainer.vue';
import Information from '@/components/Information.vue';

export default {
  name: 'Home',
  components: {
   Header, ProjectContainer, Presentation, Information, Footer
  },
  data() {
    return{
      preview: false,
    }
  },
  methods : {
    previewIsOpen(){
      this.preview = true;
    },
    previewIsClose(){
      this.preview = false;
    }
  }
}
</script>

<style lang="scss">
  .home {

     hr {
      width: 80px;
      margin: 5px auto;
      border: 1px solid black;
      text-align: center;
      background-color: black;
    }
  }
</style>
