<template>
    <footer class="footer" id="footer">
        Nicolas Durocher - 2021
    </footer>
</template>

<script>

export default {
  name: 'Footer',
  components: {
    
  },
  data: function () {
    return {

    }
  },
  methods: {
  
  }
}
</script>

<style lang='scss' scoped>
    .footer {
        min-height:60px;
        background-color: #19231A;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }

</style>
