<template>
   <header class="header" id="header">

      <div class="header__logo">
        <img src="/img/ND.jpg" @click.prevent="redirect('#app')" alt="Logo">
      </div>

      <ul class="nav desktop">
        <li @click.prevent="redirect('#app')">Accueil</li>
        <li @click.prevent="redirect('.project-list')">Projets</li>
        <li @click.prevent="redirect('.experience')">Formations</li>
      </ul>

      <Slide right class="nav mobile" :closeOnNavigation="true" >
        <li @click.prevent="redirect('#app')">Accueil</li>
        <li @click.prevent="redirect('.project-list')">Projets</li>
        <li @click.prevent="redirect('.experience')">Formations</li>
      </Slide>

    </header>
</template>

<script>
import { Slide } from 'vue-burger-menu'

export default {
  name: 'Header',
  components: {
    Slide,
  },
  data: function () {
    return {

    }
  },
  methods: {
    redirect(value){
      // document.querySelector(value).scrollIntoView({behavior: "smooth"});
      const yOffset = -150;
      const element = document.querySelector(value);
      const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

      window.scrollTo({top: y, behavior: 'smooth'});
    }
  }
}
</script>

<style lang='scss'>
  .header {
      width: 100%;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 999;
      background-color: white;
      position: fixed;
      border-bottom: 2px solid #92B4A7;

      &.unfixed {
          position: relative;
      }

      &__logo {
        img {
            margin-left: 30px;
            width: 100px;
            height: auto;
        }
      }
      
      .nav {
        height: 80px;
        margin-right: 30px;
        
        li {
          padding: 32px 0;
          width: 150px;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: bold;
          margin: 0 10px;
          color: #2c3e50;
          transition: 0.4s;

          &:focus, &:active, &:hover {
              color: #9BB7AD;
          }

          &:hover {
            letter-spacing: 1px;
            transition: 0.4s;
          }
        }
      }
      //Burger Menu
      .bm-menu {
        background-color: white;
      }
  
      .bm-item-list li {
        color: black !important;
        border-bottom: 2px solid #92B4A7;
        transition: all 0.5s ease-in;

        &:focus, &:active{
          width: 80% !important;
          transition: all 0.5s ease-in;
          border-bottom: 2px solid #92B4A7;
        }
      }
    
    }
</style>
