<template>
  <div class="experience">
   
    <h3 class="experience__title">Formations</h3>
    <hr>
    <div class="experience__resume">
      <div class="thread desktop">
        <svg width="56" height="346" viewBox="0 0 56 346" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="28" cy="28" r="14" fill="white" fill-opacity="0.57" stroke="black" stroke-width="2"/>
        <path d="M33 28.5357C33 31.1985 30.9853 33.3571 28.5 33.3571C26.0147 33.3571 24 31.1985 24 28.5357C24 25.8729 26.0147 23.7143 28.5 23.7143C30.9853 23.7143 33 25.8729 33 28.5357Z" fill="#05FEA5"/>
        <circle cx="28" cy="104" r="9" fill="white" fill-opacity="0.57" stroke="black" stroke-width="2"/>
        <path d="M31 104C31 105.657 29.6569 107 28 107C26.3431 107 25 105.657 25 104C25 102.343 26.3431 101 28 101C29.6569 101 31 102.343 31 104Z" fill="black"/>
        <circle cx="28" cy="179" r="9" fill="white" fill-opacity="0.57" stroke="black" stroke-width="2"/>
        <path d="M31 179C31 180.657 29.6569 182 28 182C26.3431 182 25 180.657 25 179C25 177.343 26.3431 176 28 176C29.6569 176 31 177.343 31 179Z" fill="black"/>
        <circle cx="28" cy="326" r="9" fill="white" fill-opacity="0.57" stroke="black" stroke-width="2"/>
        <path d="M31 326C31 327.657 29.6569 329 28 329C26.3431 329 25 327.657 25 326C25 324.343 26.3431 323 28 323C29.6569 323 31 324.343 31 326Z" fill="black"/>
        <circle cx="28" cy="255" r="9" fill="white" fill-opacity="0.57" stroke="black" stroke-width="2"/>
        <path d="M31 255C31 256.657 29.6569 258 28 258C26.3431 258 25 256.657 25 255C25 253.343 26.3431 252 28 252C29.6569 252 31 253.343 31 255Z" fill="black"/>
        <line x1="27" y1="94" x2="27" y2="42" stroke="black" stroke-width="2"/>
        <line x1="27" y1="170" x2="27" y2="113" stroke="black" stroke-width="2"/>
        <line x1="27" y1="245" x2="27" y2="188" stroke="black" stroke-width="2"/>
        <line x1="27" y1="318" x2="27" y2="265" stroke="black" stroke-width="2"/>
        </svg>
      </div>

      <ul class="experience__list">
        <li> <span> Du 09/2020 à aujourd'hui | Relatia | ECV Digital</span> <br> Mastère 2 Développeur
            Web en Alternance </li>
        <li> <span> Du 09/2019 au 09/2020 | Relatia | Ecole Multimédia</span> <br> Mastère 1 Développeur
            Multimédia
            en Alternance </li>
        <li> <span> Du 09/2018 au 08/2019 | Relatia | Ecole Multimédia</span> <br> Bachelor 3 Développeur
            Front-End en Alternance</li>
        <li> <span> Du 06/2018 au 08/2018 | Relatia </span> <br> Stage Développeur Web</li>
        <li> <span> Du 01/2018 au 04/2018 | WebForce3 | </span> <br> Formation Développeur Web / Intégrateur </li>
      </ul>

    </div>


   
     
  </div>
</template>

<script>

export default {
  name: 'InformationExperience',

  data: function () {
    return {
    }
  },
  methods : {
  
  }
}
</script>

<style lang='scss' scoped>
  .experience {
    width: 55%;

    @media screen and(max-width: 800px){
      width: 90%;
    }

    &__title{
      font-family: 'Martel', serif;
      font-weight: bold;
      margin: 0 auto;
      padding: 25px 0 5px;
      font-size: 26px;
      text-transform: uppercase;
    }
    &__resume {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__list {
      display: flex;
      flex-direction: column;
      margin: 20px 30px;

      li {
        font-weight: bold;
        margin: 12px 0;
        font-size: 1.5vw;
        color: #2c3e50;
        text-align: left;
        font-family: "Martel";
        line-height:1.3;

        span {
          color:#92B4A7;
          font-size: 18px;
        }
      }
    }
  }
</style>
