<template>
  <div class="skills">
   
    <h3 class="skills__title">Skills</h3>
    <hr>
   
     
  </div>
</template>

<script>

export default {
  name: 'InformationSkills',

  data: function () {
    return {
    }
  },
  methods : {
  
  }
}
</script>

<style lang='scss' scoped>
  .skills {
    width: 45%;
    &__title{
      font-family: 'Martel', serif;
      font-weight: bold;
      margin: 0 auto;
      padding: 25px 0 5px;
      font-size: 26px;
      text-transform: uppercase;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      
      li {
        margin: 5px 0;
      }
    }
  }
</style>