<template>
  <div class="information">
     <InformationExperience/>
     <!-- <InformationSkills/> -->
  </div>
</template>

<script>
import InformationExperience from '@/components/InformationExperience.vue';
// import InformationSkills from '@/components/InformationSkills.vue';

export default {
  name: 'Information',
  components : { 
    InformationExperience, 
    // InformationSkills
  },
  data: function () {
    return {

    }
  },
  methods : {
  
  }
}
</script>

<style lang='scss' scoped>
  .information {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }
</style>