<template>
    <div class="resume">
      <div class="resume__content" @click="closeModal">
        <div class="close" @click="closeModal">&#10006;</div>

        <img @click.stop src="/img/cv.png" alt="Cv de Nicolas Durocher">

        <a href="/pdf/cv_NicolasDurocher.pdf" @click.stop download="CV_Nicolas_Durocher" title="Cliquez pour télécharger le CV" class="download">Télécharger le CV</a>


        <!-- <pdf :src="urlResume"></pdf> -->

      </div>
    </div>
</template>

<script>
// import pdf from 'vue-pdf'

export default {
  name: 'ModalResume',
  components: {
    // pdf
  },
  data() {
    return {
      // urlResume: '/public/pdf/cv_NicolasDurocher.pdf'
    }
  },
  methods: {
    closeModal(){
      this.$emit('closeModal');
    }
  }
}
</script>

<style lang='scss' scoped>
  .resume {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    right: 0;
    background-color: rgba(0,0,0,0.6);

    &__content{
      position: relative;

      .close{
        position: absolute;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
        color: white;
        z-index: 999999;
        top: 10px;

        @media screen and (max-width: 800px){
          width: 100%;
          color: black;
        }
      }

      img {
        height: 100vh;
        width: auto;
        position: relative;
        z-index: 9999;

        @media screen and (max-width: 480px){
          width: 100%;
        }
      }

      .download{
        display: block;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid white;;
        outline: none;
        background-color: white;
        color: white;
        color: #19231A;
        position: absolute;
        right: 10px;
        top: 50px;

        @media screen and (max-width: 800px){
          position: relative;
        }
      }

    }
  }
</style>
