<template>
    <section class="presentation">
        <div class="presentation__block">
            <div class="description">
                <h1 class="description__title">Nicolas Durocher</h1>
                <h2 class="description__subtitle">Développeur Front-End | Intégrateur</h2>
                <button class="description__resume" @click="openResume">Voir le CV</button>

                
                <div class="description__network">
                    <a class="gitlab" href="https://gitlab.com/Gussaille" target="_blank" title="Voir le profil Gitlab"><i class="fab fa-gitlab"></i></a>
                    <a class="github" href="https://github.com/gussaille" target="_blank" title="Voir le profil Github"><i class="fab fa-github"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/nicolas-durocher/" target="_blank" title="Voir le profil LinkedIn"> <i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            
            <div class="illustration">
                <div class="illustration__stack">
                    <i title="VueJs" class="fab fa-vuejs"></i>
                    <i title="Javascript" class="fab fa-js-square"></i>
                    <i title="Sass" class="fab fa-sass"></i>
                    <i title="HTML5" class="fab fa-html5"></i>
                    <i title="CSS3" class="fab fa-css3-alt"></i>
                    <i title="Git" class="fab fa-git"></i>
                </div>
                <img src="https://pngimg.com/uploads/thinking_man/thinking_man_PNG11608.png" class="illustration__author" alt="Nicolas Durocher">    
            </div>
        </div>
        <modal-resume v-if="modalOpen" @closeModal="closeResume"/>
    </section>

</template>

<script>
import ModalResume from '@/components/ModalResume'

export default {
    name: 'Presentation',
    components: {
        ModalResume
    },
 
    data() {
        return {
            modalOpen: false,
        }
    },
    methods: {
        openResume(){
            this.modalOpen = true;
        },
        closeResume(){
            this.modalOpen = false;
        }
    }
}
</script>

<style lang='scss' scoped>
.presentation {
    padding-top: 80px;
    min-height: 350px;
    width: 100%;
    background-color: #19231A;
    
    &__block {
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 980px;
        width: 90%; 

        @media screen and (max-width: 769px){
            flex-direction: column;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        text-align: left;

        &__resume{
            margin: 20px 0;
            width: 150px;
            border: none;
            background-color: #92B4A7;
            padding: 10px;
            cursor: pointer;
            color: #19231A;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
            transition: 0.5s;


            &:hover{
                background-color: white;
                transition: 0.5s;
            }
        }

        &__title {
            text-transform: uppercase;
            font-family: Martel, serif;
            color: white;
            font-size: 34px;
        }

        &__subtitle {
            font-size: 24px;
            color: #92B4A7;
        }

        &__network {
            display: flex;
            justify-content: flex-start;
            
            .github, .linkedin, .gitlab {
                display: block;
                margin: 10px;
                font-size: 32px;
                color: lightgrey;
                transition: 0.3s;

                &:hover {
                    color: #2867B2;
                    transition: 0.3s;
                }
            }
            .github{
                  &:hover {
                    transition: 0.3s;
                    color: white;
                }
            }
            .gitlab{
                margin-left: 0;
                
                &:hover {
                    transition: 0.3s;
                    color: #EA7966;
                }
            }
        }
    }
    .illustration {
        &__stack{
            display: flex;
            justify-content: space-around;
            font-size: 40px;

            svg {
                margin: 5px;
                color: lightgrey;
                display: block;
                position: relative;
                opacity:1;

                &:hover {
                    -webkit-animation: bubble 0.9s;
                            animation: bubble 0.9s;
                }
            }   

            .fa-vuejs{
                // animation: 1s ease-in stackFade forwards;
                top: 150px;
                transition: 0.3s;
                &:hover{
                    transition:0.3s;
                    color: #41B883;
                }
            }
            .fa-js-square {
                // animation: 1.4s ease-in stackFade forwards;
                top: 70px;
                right: 20px;
                transition: 0.3s;
                
                &:hover{
                    transition:0.3s;
                    color: #F0DB4F;
                }
            }
            .fa-sass{
                // animation: 1.8s ease-in stackFade forwards;
                transition: 0.3s;
                &:hover{
                    transition:0.3s;
                    color: #cd6799;
                }
            }
            .fa-html5{
                // animation: 2.2s ease-in stackFade forwards;
                top: 80px;
                left: 70px;
                transition: 0.3s;
                &:hover{
                    transition:0.3s;
                    color: #e34c26;
                }
            }
            .fa-css3-alt{
                // animation: 2.6s ease-in stackFade forwards;
                top: 20px;
                right:10px;
                transition: 0.3s;
                &:hover{
                    transition:0.3s;
                    color: #264de4;
                }
            }
            .fa-git{
                // animation: 3s ease-in stackFade forwards;
                top: 140px;
                left: 20px;
                transition: 0.3s;
                &:hover{
                    transition:0.3s;
                    color: white;
                }
            }
        }
        
        &__author {
            height: auto;
            width: 180px;
        }
    }

    @keyframes stackFade{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes bubble {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
        }
        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
                    transform: scale3d(1.25, 0.75, 1);
        }
        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
                    transform: scale3d(0.75, 1.25, 1);
        }
        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
                    transform: scale3d(1.15, 0.85, 1);
        }
        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
                    transform: scale3d(0.95, 1.05, 1);
        }
        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
                    transform: scale3d(1.05, 0.95, 1);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
        }
    }
    @keyframes bubble {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
        }
        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
                    transform: scale3d(1.25, 0.75, 1);
        }
        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
                    transform: scale3d(0.75, 1.25, 1);
        }
        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
                    transform: scale3d(1.15, 0.85, 1);
        }
        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
                    transform: scale3d(0.95, 1.05, 1);
        }
        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
                    transform: scale3d(1.05, 0.95, 1);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
        }
    }
}
</style>
