<template>
  <div class="project-container">
    <transition name="fade" mode="out-in">
      <div class="overlay"></div>
    </transition>
    <h2 class="project-container__title">Projets</h2>
    
    <hr>

    <ProjectList @openPreview="showPreview"/>

    <ProjectPreview @close="closePreview" :project="projectInfo" v-if="preview" />

  </div>
</template>

<script>
// @ is an alias to /src
import ProjectList from '@/components/ProjectList.vue';
import ProjectPreview from '@/components/ProjectPreview.vue'


export default {
  name: 'ProjectContainer',
  components: {
    ProjectList, ProjectPreview
  },
  data: function() {
    return {
      projectInfo: '',
      preview: false,
    }
  },
  methods: {
    showPreview(value){
      this.projectInfo = value;
      this.preview = true;
      this.$emit('previewIsOpen', this.preview);
      document.querySelector('.overlay').style.visibility = "visible";
    },
    closePreview(){
      this.preview = false;
      this.$emit('previewIsClose', this.preview);
      document.querySelector('.overlay').style.visibility = "hidden";
    }
  }
}
</script>

<style lang='scss' scoped>
  .project-container{
    position: relative;

    .overlay {
      visibility: hidden;
      z-index: 8;
      width: 100%;
      background-color: rgba(0,0,0,0.8);
      height: 100%;
      min-height: 500px;
      position: absolute;
    }

    &__title {
      font-family: 'Martel', serif;
      font-weight: bold;
      margin: 0 auto;
      padding: 25px 0 5px;
      font-size: 26px;
      text-transform: uppercase;
    }
  }
</style>
