<template>
  <div class="project-list">

    <div v-for="(project, index) in projects" :key="index" @click.prevent="showProject(project)">
      <Project :project="projects[index]"/>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import Project from '@/components/Project.vue'

export default {
  name: 'ProjectList',
  components: {
    Project
  },
  data: function () {
    return {
      projects: [
        {
          'name': "PWA FestivalMaker",
          'description': "Créez votre festival sur FestivalMaker",
          'url': null,
          'image': [
            "/img/projects/festival.jpg"
          ],
          'thumbnail': "/img/thumbnails/festivalPwa-thumbnail.jpg",
          'stack' : [
            "fab fa-js-square",
            "fab fa-html5",
            "fab fa-sass"
          ]
        },
        {
          'name': "La Cantina",
          'description': "Le site de recette geek",
          'url': null,
          'image': [
            "/img/projects/cantina.png"
          ],
          'thumbnail': "/img/thumbnails/cantina-thumbnail.png",
          'stack' : [
            "fab fa-vuejs", 
            "fab fa-js-square",
            "fab fa-html5",
            "fab fa-sass"
          ]
        },
        {
          'name': "BookMyFestival",
          'description': "Organisez votre festival, gérez vos réservations et vos emplacements",
          'url': null,
          'image': [
            "/img/projects/festival.jpg"
          ],
          'thumbnail': "/img/thumbnails/festival-thumbnail.jpg",
          'stack' : [
            "fab fa-symfony", 
            "fab fa-php",
            "fab fa-html5",
            "fab fa-css3-alt",
          ]
        }, 
        {
          'name': "DeezWeb",
          'description': "Ecoutez vos musiques préférées en un clic !",
          'url': "https://deezweb-music.herokuapp.com/",
          'image': [
            "/img/projects/deezweb.png",
            "/img/projects/deezweb-2.png",
            "/img/projects/deezweb-3.png"
          ],
          'thumbnail': "/img/thumbnails/deezweb-thumbnail.png",
          'stack' : [ 
            "fab fa-vuejs", 
            "fab fa-js-square",
            "fab fa-html5",
            "fab fa-css3-alt"]
        },  
        {
          'name': "Kwick Tchat !",
          'description': "Communiquez avec votre réseau facilement et rapidement !",
          'url': null,
          'image':[
            "/img/projects/kwick.png",
            "/img/projects/kwick-2.png",
            "/img/projects/kwick-3.png"
          ],
          'thumbnail': "/img/thumbnails/kwick-thumbnail.png",
          'stack' : [
            "fab fa-js-square",
            "fab fa-html5",
            "fab fa-css3-alt"
          ]
        },
        {
          'name': "PWA Météo",
          'description': "Connaître en temps réel la météo dans n'importe quelle ville !",
          'url': null,
          'image': [
            "/img/projects/pwa-weather.png"
          ],
          'thumbnail': "/img/thumbnails/pwa-weather-thumbnail.png",
          'stack' : [
            "fab fa-js-square",
            "fab fa-html5",
            "fab fa-sass"
          ]
        },  
      ],
    }
  },
  methods : {
    showProject(project){
      // console.log(project);
      this.$emit('openPreview', project);
    }
  }
}
</script>

<style lang='scss' scoped>
  .project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 65%;
    max-width: 1200px;
    margin: 0 auto;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 60%;
    }
  }
</style>
