<template>
    <div class="project-preview">
      <div class="close-button" @click="$emit('close')" title="Fermer l'aperçu">
        <i class="fa fa-times"></i>
      </div>
      <h1 class="project-preview__title">{{ project.name}}</h1>
        
      <div class="project-preview__stack">   
        <i v-for="(stack, id) in project.stack" :key="id" :class="project.stack[id]"></i>
      </div>

      <carousel class="illustration-block" :perPage="1" :navigationEnabled="true" navigationNextLabel="<i class='fas fa-arrow-alt-circle-right'></i>"
  navigationPrevLabel="<i class='fas fa-arrow-alt-circle-left'></i>">
        <slide v-for="(img, index) in project.image" :key="index">
          <img class="project-preview__illustration"  :src="project.image[index]" :alt="project.description">
        </slide>
      </carousel>

      <div class="project-preview__description">
        <p>{{ project.description }}</p>
        <a :href="project.url" target="_blank" v-if="project.url !== null" :title="'Voir le projet ' + project.name">{{
          project.url
          }}</a>

      </div>
    </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'ProjectPreview',
  components: {
    Carousel,
    Slide
    // Project
  },
  props : ['project'],
  data: function () {
    return {

    }
  },
  mounted(){
    this.scrollBehavior();
  },
  methods: {
    scrollBehavior() {
      document.querySelector('.project-preview').scrollIntoView({
        behavior: "smooth", 
        block: "center",
        inline: "nearest"
      });
    } 
  }
}
</script>

<style lang='scss' scoped>
  .project-preview {
    animation: stackFade 0.8s ease-in-out forwards;
    background-color: white;
    width: 55%;
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:9;
    box-shadow: 2px 0px 20px black;
    transform: translate(-50%, -50%);
    margin: 0 auto;

     @media screen and(max-width: 768px){
      width: 95%;
    }

    @media screen and (max-width: 640px){
      top: 25%;
      height: auto;
    }
    
    .close-button {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: block;
      position: absolute;
      right: 10px;
      z-index: 999;
      top: 10px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg{
        color: #a1a1a1;
      }

      svg:hover{
        color: black;
      }
    }
    
    &__title {
      animation: stackFade 1s 2.4s both;
      opacity:0;
      transition: opacity ease-in;
      margin: 20px auto 10px;
      font-size: 30px;
    }

    &__stack {
      svg {
        font-size: 16px;
        margin: 5px 10px;
        &:nth-child(1){
          animation: slide-in-up 0.7s 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        }
        &:nth-child(2){
          animation: slide-in-up 0.7s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        }
        &:nth-child(3){
          animation: slide-in-up 0.7s 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        }
        &:nth-child(4){
          animation: slide-in-up 0.7s 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        }
        &:nth-child(5){
          animation: slide-in-up 0.7s 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        }
   
        @media screen and(min-width: 769px){
          font-size: 24px;
        }
      }
    }

    .illustration-block{
      display: flex;
      overflow-y: auto;
    }
    &__illustration {
      width: 100%;
      min-width: 100%;
      height: auto;
    }
    &__description {
      padding: 5px 0;
      text-align: center;
      margin: 0 auto;

      a {
        color: black;
      }
    }

  @-webkit-keyframes slide-in-up {
    0% {
      -webkit-transform: translateY(100px) rotateX(30deg) scale(0);
              transform: translateY(100px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -100px;
              transform-origin: 50% -100px;
      opacity: 1;
    }
  }
  @keyframes slide-in-up {
    0% {
      -webkit-transform: translateY(100px) rotateX(30deg) scale(0);
              transform: translateY(100px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -100px;
              transform-origin: 50% -100px;
      opacity: 1;
    }
  }
}
</style>
