<template>
  <figure class="project">
      <img class="project__image" :src="project.thumbnail" :alt="project.description">
      <figcaption>
          {{ project.name }} <br>
      </figcaption>

  </figure>
</template>

<script>

export default {
  name: 'Project',
  props: ['project'],
}
</script>

<style lang="scss" scoped>
    .project {
        cursor: pointer;
        width: 250px;
        height: 250px;
        display: flex;
        flex-flow: column;
        margin: 10px auto;
        position: relative;


        
        @media screen and(max-width: 769px){
            width: 200px;
            height: 200px;
        }

        @media screen and(max-width: 640px){
            width: 280px;
            height: 280px;
        }

        &__name {
            color: orange;
        }

        &__image {
            height: 100%;
            width: 100%;
            object-fit:cover;
            transition: 0.3s ease-in;
            filter: grayscale(85%);
            outline: none !important;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        &:hover .project__image {
            filter: initial;
            transition: 0.3s ease-in;
        }
        figcaption {
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            font-size: 20px;
            font-family: Martel, serif;
            color: black;
            font-weight: bold;
            transform: translate(-50%, 50%);
            width: 100%;
            padding: 25px 0;
            background-color: rgba(254,254,254, 0.75);
            transition: 0.3s ease-in;
        }
        &:hover figcaption {
            opacity:1;
            transform: translate(-50%, 0%);
            transition: 0.3s ease-in;
        }
    }
  
</style>
