<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>

  export default {
    name: 'App',
    components: {
    },
    data: function () {
      return {

      }
    },
    methods: {

    }
  }
</script>

<style lang="scss">

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .mobile {
    display: block;
  }
  @media screen and (min-width: 768px) {
    .mobile {
      display: none;
    }
  }

  .desktop {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .desktop {
      display: flex;
    }
  }
  span.bm-cross {
    width: 3px !important;
    height: 27px !important;
  }
  .VueCarousel-navigation-button{
    outline: none !important;
  }
  .VueCarousel-dot-container{
    margin-top: 0 !important;
  }
  .VueCarousel-navigation-prev {
    left: 20px !important;
    font-size: 30px;
    transform: translateX(0) !important;

    @media screen and(max-width: 640px){
      font-size: 18px;
    }
  }
  .VueCarousel-navigation-next{
    right: 20px !important;
    font-size: 30px;
    transform: translateX(0) !important;

    @media screen and(max-width: 640px){
      font-size: 18px;
    }
  }
  .header {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: white;
    position: fixed;
    border-bottom: 2px solid lightgrey;

    &__logo {
      img {
        margin-left: 30px;
        width: 100px;
        height: auto;
      }
    }

    #nav {
      margin-right: 30px;
      a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
          color: #42b983;
        }
      }
    }
  }
  @keyframes stackFade{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
